@import '~bootstrap/scss/bootstrap.scss';

/* Colors (https://www.color-name.com/) */
$coolvetica: "Coolvetica", system-ui;
$lato-regular: "Lato-Regular", system-ui;
$lato-bold: "Lato-Bold", system-ui;

/* Fonts (https://www.dafont.com/coolvetica.font/, https://fonts.google.com/specimen/Lato/) */
$black: #000000;
$cetacean-blue: #12103c;
$cetacean-blue-muted: #12103c40;
$chinese-silver: #c8c8c9;
$crayola: #19facc;
$dark-cerulean: #08407b;
$orange: #f69221;
$sky-blue: #7ccdef;
$white: #ffffff;
$white-muted: #ffffff1a;

/* * Page Structures */
a {
  text-decoration: none !important;
  color: $cetacean-blue !important;
}

a,
img,
.nav-link,
.page-link {
  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: $lato-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: $coolvetica;
}

img {
  max-width: 100% !important;
}

pre {
  font-family: unset;
  font-size: unset;
  white-space: pre-wrap;
}

section {
  margin: 5rem 0;
}

select {
  cursor: pointer;
}

strong {
  font-family: var(--lato-bold);
}

table {
  border: 0.1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
}

th {
  background-color: $white !important;
  color: $white !important;
}

/* * Selector (Class) */
.alert-info {
  border-radius: 1rem !important;
  background-color: $sky-blue !important;
  color: $black !important;
}

.alert-primary {
  border-radius: 1rem !important;
  background-color: $dark-cerulean !important;
  color: $white !important;
}

.bi-arrow-up {
  font-size: 1.75rem !important;
  color: $cetacean-blue !important;
}

.btn {
  border-radius: 0.5rem !important;
  padding: 0.75rem 1rem !important;
  color: $white !important;
}

.btn-secondary {
  background-color: transparent;
  border: solid 0.094rem $cetacean-blue;
  color: $cetacean-blue !important;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem !important;
  border: solid 0.13rem $chinese-silver !important;
  background: $white-muted !important;
  backdrop-filter: blur(0.25rem) !important;
  -webkit-backdrop-filter: blur(0.25rem) !important;
}

.card-img-top {
  object-fit: contain;
  border-radius: unset;
}

.carousel-inner {
  max-width: 50% !important;
}

.dropdown-toggle,
.dropdown-item {
  font-size: larger;
}

.events-poster {
  border-radius: 1rem 1rem 0 0;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.footer {
  background-color: $orange !important;
}

.navbar-toggler.collapsed .btn-close {
  display: none;
}

.text-link {
  color: $cetacean-blue !important;
}

.tooltip {
  font-family: var(--lato-regular);
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.workshop {
  object-fit: cover;
}

/* * Selector (ID) */
#home-about_us__background {
  border-radius: 0 5rem 5rem 0;
  background-color: $sky-blue;
}

#powered_by__background {
  border-radius: 5rem 0 0 5rem;
  background-color: $orange;
}

#hero1,
#hero2,
#about_us-powered_by,
#pelaksanaan_acara,
#pelaksanaan_acara-testimonials,
#testimonials,
#testimonials-sponsors,
#sponsors1,
#sponsors2,
#sponsors3,
#sponsors4,
#sponsors5 {
  position: absolute;
  z-index: -999 !important;
}

#hero1 {
  top: 10vh;
  right: 0;
}

#hero2 {
  top: 60vh;
  left: 0;
}

#about_us-powered_by {
  top: 150vh;
  right: 0;
}

#pelaksanaan_acara {
  top: 230vh;
  left: 0;
}

#pelaksanaan_acara-testimonials {
  top: 310vh;
  right: 0;
}

#testimonials {
  top: 360vh;
  left: 0;
}

#testimonials-sponsors {
  top: 440vh;
  right: 0;
}

#sponsors1 {
  top: 500vh;
  left: 0;
}

#sponsors2 {
  top: 550vh;
  right: 0;
}

#sponsors3 {
  top: 610vh;
  left: 0;
}

#sponsors4 {
  top: 700vh;
  right: 0;
}

#sponsors5 {
  top: 770vh;
  left: 0;
}

#preload {
  inset: 0;
}

#pills-day1-tab.active,
#pills-day2-tab.active {
  font-weight: bold;
  background-color: $cetacean-blue !important;
  color: $white !important;
}

#pills-fulltime-tab.active,
#pills-parttime-tab.active,
#pills-freelance-tab.active,
#pills-internship-tab.active {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 0.15rem transparent;
  font-weight: bold;
  background-color: $cetacean-blue !important;
  color: $white !important;
}

#pills-day1-tab.nav-link:not(.active),
#pills-day2-tab.nav-link:not(.active) {
  color: $cetacean-blue !important;
}

#pills-fulltime-tab:not(.active),
#pills-parttime-tab:not(.active),
#pills-freelance-tab:not(.active),
#pills-internship-tab:not(.active) {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 0.15rem transparent;
  background-color: transparent;
  color: $cetacean-blue !important;
}

#pillNav {
  background-color: $cetacean-blue-muted !important;
}

#scrollToTop {
  cursor: pointer;
}

#side {
  position: sticky;
  top: 0.5rem;
}

#title {
  letter-spacing: 0.5rem;
}

/* * Pseudo-classes */
::selection {
  background-color: $orange;
  color: $white;
}

::-webkit-scrollbar {
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  border: solid 0.3rem $white;
  background-color: $cetacean-blue;
}

a:hover:not(.navbar-brand,
  .company-list,
  .workshop-list,
  .talkshow-list,
  .blog-list),
.nav-link:hover,
#scrollToTop:hover {
  filter: brightness(125%) !important;
}

tr:first-child th:first-child {
  border-top-left-radius: 4px !important;
}

tr:first-child th:last-child {
  border-top-right-radius: 4px !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 4px !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 4px !important;
}

.btn:active {
  transform: scale(0.9);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: $cetacean-blue !important;
  border: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: none !important;
  border: solid 0.094rem $cetacean-blue;
  filter: brightness(110%) !important;
  background-color: transparent !important;
  color: $cetacean-blue !important;
}

.dropdown-menu>li>a:hover {
  background-color: $cetacean-blue !important;
  color: $white !important;
}

.dropdown-item.active {
  background-color: transparent;
  color: $cetacean-blue;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

/* * At-rules */
@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica/Coolvetica.otf") format("opentype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/lato/Lato-Bold.ttf") format("truetype");
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.25rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* ! Desktop Mode View */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 75% !important;
  }
}

/* ! Tablet Mode View */
@media only screen and (min-width: 768px) {
  .vertical {
    rotate: 90deg;
  }
}

/* ! Mobile Mode View */
@media only screen and (max-width: 600px) {
  .vertical {
    rotate: 90deg;
  }
}