/* * Page Structures */
a {
  text-decoration: none !important;
  color: var(--cetacean-blue) !important;
}

a,
img,
.nav-link,
.page-link {
  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: var(--lato400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: var(--coolvetica);
}

img {
  max-width: 100% !important;
}

pre {
  font-family: unset;
  font-size: unset;
  white-space: pre-wrap;
}

section {
  margin: 5rem 0;
}

select {
  cursor: pointer;
}

strong {
  font-family: var(--lato700);
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

th {
  background-color: var(--white) !important;
}

/* * Selector (Class) */
.alert-info {
  border-radius: 1rem !important;
  background-color: var(--sky-blue) !important;
  color: var(--black) !important;
}

.accordion-button.collapsed {
  color: var(--cetacean-blue);
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2312103c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.bi-arrow-up {
  font-size: 1.75rem !important;
  color: var(--cetacean-blue) !important;
}

.bounce {
  animation: bounce linear;
}

.btn {
  border-radius: 0.5rem !important;
  padding: 0.75rem 1rem !important;
  color: var(--white) !important;
}

.btn-secondary {
  background-color: transparent;
  border: solid 0.094rem var(--cetacean-blue);
  color: var(--cetacean-blue) !important;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem !important;
  border: solid 0.13rem var(--chinese-silver) !important;
  background: var(--white-muted) !important;
  backdrop-filter: blur(0.25rem) !important;
  -webkit-backdrop-filter: blur(0.25rem) !important;
}

.card-img-top {
  object-fit: contain;
  border-radius: unset;
}

.carousel-inner {
  max-width: 50% !important;
}

.dropdown-toggle,
.dropdown-item {
  font-size: larger;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.footer {
  background-color: var(--orange) !important;
}

.navbar-toggler.collapsed .btn-close {
  display: none;
}

.scroll-down {
  animation: bounce 2s infinite;
}

.text-link {
  color: var(--cetacean-blue) !important;
}

.tooltip {
  font-family: var(--lato400);
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* * Selector (ID) */
#hero1,
#hero2,
#about_us-powered_by,
#pelaksanaan_acara,
#pelaksanaan_acara-testimonials,
#testimonials,
#testimonials-sponsors,
#sponsors,
#sponsors-media_partners {
  position: absolute;
  z-index: -999 !important;
}

#hero1 {
  top: 10vh;
  right: 0;
}

#hero2 {
  top: 60vh;
  left: 0;
}

#about_us-powered_by {
  top: 150vh;
  right: 0;
}

#pelaksanaan_acara {
  top: 230vh;
  left: 0;
}

#pelaksanaan_acara-testimonials {
  top: 310vh;
  right: 0;
}

#testimonials {
  top: 360vh;
  left: 0;
}

#testimonials-sponsors {
  top: 440vh;
  right: 0;
}

#sponsors {
  top: 500vh;
  left: 0;
}

#sponsors-media_partners {
  top: 550vh;
  right: 0;
}

#preload {
  inset: 0;
}

#pills-day1-tab.active,
#pills-day2-tab.active {
  font-weight: bold;
  background-color: var(--cetacean-blue) !important;
  color: var(--white) !important;
}

#pills-fulltime-tab.active,
#pills-parttime-tab.active,
#pills-freelance-tab.active,
#pills-internship-tab.active {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 0.15rem transparent;
  font-weight: bold;
  background-color: var(--cetacean-blue) !important;
  color: var(--white) !important;
}

#pills-day1-tab.nav-link:not(.active),
#pills-day2-tab.nav-link:not(.active) {
  color: var(--cetacean-blue) !important;
}

#pills-fulltime-tab:not(.active),
#pills-parttime-tab:not(.active),
#pills-freelance-tab:not(.active),
#pills-internship-tab:not(.active) {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 0.15rem transparent;
  background-color: transparent;
  color: var(--cetacean-blue) !important;
}

#pillNav {
  background-color: var(--cetacean-blue-muted) !important;
}

#scrollToTop {
  cursor: pointer;
}

#side {
  position: sticky;
  top: 0.5rem;
}

#title {
  letter-spacing: 0.5rem;
}

/* * Pseudo-classes */
:root {
  /* Colors (https://www.color-name.com/) */
  --black: #000000;
  --cetacean-blue: #12103c;
  --cetacean-blue-muted: #12103c40;
  --chinese-silver: #c8c8c9;
  --crayola: #19facc;
  --dark-cerulean: #08407b;
  --orange: #f69221;
  --sky-blue: #7ccdef;
  --white: #ffffff;
  --white-muted: #ffffff1a;
  /* Fonts (https://www.dafont.com/coolvetica.font/, https://fonts.google.com/specimen/Lato/) */
  --coolvetica: "Coolvetica", sans-serif;
  --lato400: "Lato400", sans-serif;
  --lato700: "Lato700", sans-serif;
}

::selection {
  background-color: var(--orange);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  border: solid 0.3rem var(--white);
  background-color: var(--cetacean-blue);
}

a:hover:not(.navbar-brand, .company-list, #blog),
.nav-link:hover,
#scrollToTop:hover {
  filter: brightness(125%) !important;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.375rem !important;
}

tr:first-child th:last-child {
  border-top-right-radius: 0.375rem !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem !important;
}

.btn:active {
  transform: scale(0.9);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--cetacean-blue) !important;
  border: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: none !important;
  border: solid 0.094rem var(--cetacean-blue);
  filter: brightness(110%) !important;
  background-color: transparent !important;
  color: var(--cetacean-blue) !important;
}

.dropdown-menu>li>a:hover {
  background-color: var(--cetacean-blue) !important;
  color: var(--white) !important;
}

.dropdown-item.active {
  background-color: transparent;
  color: var(--cetacean-blue);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

/* * At-rules */
@font-face {
  font-family: "Coolvetica";
  src: url("/public/fonts/coolvetica/coolvetica rg.otf");
}

@font-face {
  font-family: "Lato400";
  src: url("/public/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato700";
  src: url("/public/fonts/lato/Lato-Bold.ttf");
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.25rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* ! Desktop Mode View */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 75% !important;
  }
}

/* ! Tablet Mode View */
@media only screen and (min-width: 768px) {
  .vertical {
    rotate: 90deg;
  }
}

/* ! Mobile Mode View */
@media only screen and (max-width: 600px) {
  .vertical {
    rotate: 90deg;
  }
}