/*! Desktop Mode View */
/** Page Structures */
a {
  text-decoration: none !important;
  color: var(--cetacean-blue) !important;
}

a,
img,
.nav-link,
.page-link {
  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: var(--lato400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: var(--coolvetica);
}

hr {
  height: 0.125rem !important;
  border-radius: 3.125rem !important;
}

img {
  max-width: 100% !important;
}

strong {
  font-family: var(--lato700);
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

th {
  background-color: var(--white) !important;
}

/** Selector (Class) */
.badge {
  padding: 0.75rem;
  font-size: medium;
  font-weight: normal;
}

.bi-arrow-up {
  font-size: 1.75rem !important;
  color: var(--cetacean-blue) !important;
}

.bounce {
  animation: bounce linear;
}

.btn {
  border-radius: 0.5rem !important;
  padding: 0.75rem 1rem !important;
  color: var(--white) !important;
}

.btn-secondary {
  background-color: transparent;
  border: solid 0.094rem var(--cetacean-blue);
  color: var(--cetacean-blue) !important;
}

.card,
.kartu,
.kontak {
  background: #ffffff1a !important;
  backdrop-filter: blur(0.25rem) !important;
  -webkit-backdrop-filter: blur(0.25rem) !important;
  box-shadow: 0 0.125rem 0.25rem 0.016rem #e1e1e1 !important;
}

.card,
.kartu {
  border-radius: 1rem !important;
  border: solid 0.125rem #ffffff25 !important;
}

.card {
  padding: 1.5rem;
}

.carousel-inner {
  max-width: 50% !important;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.kartu {
  padding: 0 1rem;
}

.kontak {
  border-radius: 0.5rem !important;
  border-right: solid 0.625rem var(--cetacean-blue) !important;
}

.navbar-toggler.collapsed .btn-close {
  display: none;
}

.post-thumbnail {
  aspect-ratio: 3/2;
  border-radius: 10.25rem 0 0 10.25rem;
}

.progress-bar {
  animation: animateBar 1s ease-in 1;
}

.scroll-down {
  animation: bounce 2s infinite;
}

.text-link {
  color: var(--cetacean-blue) !important;
}

.tooltip {
  font-family: var(--lato400);
}

/** Selector (ID) */
#hero1,
#hero2,
#about_us-pelaksanaan_acara,
#pelaksanaan_acara-testimonials,
#testimonials-sponsors,
#sponsors-media_partners {
  position: absolute;
  z-index: -999;
}

#hero1 {
  top: 5vh;
  right: -10%;
}

#hero2 {
  top: 50vh;
  left: -10%;
}

#about_us-pelaksanaan_acara {
  top: 120vh;
  right: -5%;
}

#pelaksanaan_acara-testimonials {
  top: 190vh;
  left: -5%;
}

#testimonials-sponsors {
  top: 280vh;
  right: -5%;
}

#sponsors-media_partners {
  top: 360vh;
  left: -5%;
}

#preload {
  inset: 0;
}

#pills-1-tab.active,
#pills-2-tab.active,
#pills-3-tab.active,
#pills-4-tab.active {
  border-bottom: none;
  background-color: var(--cetacean-blue);
  color: var(--white) !important;
}

#pills-1-tab.nav-link:not(.active),
#pills-2-tab.nav-link:not(.active),
#pills-3-tab.nav-link:not(.active),
#pills-4-tab.nav-link:not(.active) {
  color: var(--cetacean-blue) !important;
}

#scrollToTop {
  cursor: pointer;
}

/** Pseudo-classes */
:root {
  /* Colors (https://www.color-name.com/) */
  --cetacean-blue: #100f3b;
  --dark-cerulean: #06417b;
  --sky-blue: #7dccee;
  --orange: #f7931f;
  --crayola: #19f9cc --black: #000000;
  --white: #ffffff;
  /* Fonts (https://www.dafont.com/coolvetica.font/, https://fonts.google.com/specimen/Lato/) */
  --coolvetica: "Coolvetica", sans-serif;
  --lato400: "Lato400", sans-serif;
  --lato700: "Lato700", sans-serif;
}

::selection {
  background-color: var(--orange);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  border: solid 0.3rem var(--white);
  background-color: var(--cetacean-blue);
}

a:hover,
.nav-link:hover,
#scrollToTop:hover {
  filter: brightness(125%) !important;
}

.accordion-button.collapsed::after {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='100f3b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.btn:active {
  transform: scale(0.9);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--cetacean-blue) !important;
  border: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: none !important;
  border: solid 0.094rem var(--cetacean-blue);
  filter: brightness(110%) !important;
  background-color: transparent !important;
  color: var(--cetacean-blue) !important;
}

.card-img-top:not(.post-thumbnail) {
  max-width: 70% !important;
  height: 20vw;
  object-fit: contain;
}

.card-img-top:not(.post-thumbnail):hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.list-group-item-action:hover {
  filter: brightness(110%);
}

.list-group-item-action:not(.active) {
  background-color: var(--cetacean-blue);
  color: var(--black) !important;
}

.navbar-brand:hover {
  filter: none !important;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.375rem !important;
}

tr:first-child th:last-child {
  border-top-right-radius: 0.375rem !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem !important;
}

/* * At-rules */
@font-face {
  font-family: "Coolvetica";
  src: url("/public/fonts/coolvetica/coolvetica rg.otf");
}

@font-face {
  font-family: "Lato400";
  src: url("/public/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato700";
  src: url("/public/fonts/lato/Lato-Bold.ttf");
}

@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.25rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*! Mobile Mode View */
@media screen and (max-width: 768) {
  .card-img-top {
    height: 100vw;
    margin-top: 1rem;
  }

  .carousel-inner {
    max-width: 100% !important;
  }

  .navbar-toggler-icon {
    font-size: x-large !important;
  }

  .post-thumbnail {
    aspect-ratio: unset;
    border-radius: 10.25rem 10.25rem 0 0;
  }
}